.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 400px) {
  .container {
    width: 400px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (min-width: 770px) {
  .container {
    width: 710px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media screen and (min-width: 1300px) {
  .container {
    width: 1300px;
  }
}
.main-page {
  background-color: #19191B;
}

.header__mobile-menu-btn {
  background-color: transparent;
  border: none;
}

.mobile-menu__close-btn {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 20px;
  right: 20px;
}

.header__mobile-icon {
  position: absolute;
  top: 44px;
  right: 34px;
  fill: #fff;
  background-color: transparent;
  width: 24px;
  height: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__mobile-icon:hover, .header__mobile-icon:focus {
  color: #5454D4;
}

.mobile-menu__close-icon {
  fill: #fff;
  width: 24px;
  height: 24px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu__close-icon:hover, .mobile-menu__close-icon:focus {
  fill: #5454D4;
}

.backdrop {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: #19191B;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity;
  z-index: 100;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__nav {
  display: flex;
  flex-direction: column;
  gap: 27px;
  margin-top: 64px;
  margin-left: 40px;
}

.mobile-menu__nav-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  color: #FFFFFF;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu__nav-text:hover, .mobile-menu__nav-text:focus {
  color: #5454D4;
}

.mobile-menu__form-btn {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #FFFFFF;
  background-color: #5454D4;
  border: none;
  border-radius: 4px;
  width: 95%;
  height: 44px;
  margin-left: 10px;
  margin-top: 50%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu__form-btn:hover, .mobile-menu__form-btn:focus {
  color: #5454D4;
  background-color: #fff;
}

.mobile-menu__social-links {
  display: flex;
  gap: 32px;
  justify-content: center;
}

.mobile-menu__social-link {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #5454D4;
}

.mobile-menu__social-links {
  margin-top: 35px;
  padding-bottom: 23px;
}

.main-header {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 23px;
  margin-top: 13px;
}

.header__logo {
  width: 78px;
}

.header__logo-text {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 33px;
  line-height: 39px;
  /* identical to box height */
  text-align: right;
  color: rgba(255, 255, 255, 0.7);
}

@media screen and (min-width: 768px) {
  .header__mobile-menu-btn {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .main-navigation {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .main-navigation {
    display: flex;
    gap: 26px;
  }
  .main-header {
    flex-direction: column;
    align-items: center;
    gap: 28px;
  }
  .nav__link {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    text-align: right;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: rgba(255, 255, 255, 0.7);
  }
  .nav__link:hover, .nav__link:focus {
    color: #5454D4;
  }
}
@media screen and (max-width: 1300px) {
  .nav__button {
    display: none;
  }
}
@media screen and (min-width: 1300px) {
  .main-header {
    flex-direction: row;
  }
  .nav__button {
    background-color: transparent;
    border: 0.66369px solid #FFFFFF;
    backdrop-filter: blur(0.66369px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 3.31845px;
    width: 172px;
    height: 48px;
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.331985px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
  }
  .nav__button:hover, .nav__button:focus {
    color: #5454D4;
    border-color: #5454D4;
  }
  .navigation {
    display: flex;
    gap: 150px;
    align-items: center;
    margin-top: 20px;
  }
  .logo {
    margin-top: 33px;
  }
  .main-navigation {
    margin-top: 15px;
  }
}
.main-article {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 78px;
  /* or 156% */
  letter-spacing: 1px;
  color: #dfdfdf;
  width: 327px;
  height: 234px;
  margin-top: 41px;
}

.hero__text {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 31px;
  /* or 206% */
  letter-spacing: -0.43573px;
  color: rgba(255, 255, 255, 0.7);
  margin-top: 12px;
}

.hero__btn {
  background-color: #5454d4;
  border: none;
  width: 166px;
  height: 44px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #ffffff;
  padding-left: 10px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__btn:hover, .hero__btn:focus {
  color: #5454d4;
  background-color: #fff;
}

.hero__btn:hover .hero__btn-svg,
.hero__btn:focus .hero__btn-svg {
  fill: #5454d4;
}

.hero__btn-svg {
  width: 15px;
  height: 16px;
  fill: #ffffff;
  margin-left: 8px;
}

.hero__img-phone {
  position: absolute;
  width: 381px;
  right: 0px;
}

@media screen and (min-width: 768px) {
  .hero__img-phone {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .hero {
    padding-bottom: 515px;
  }
}
@media screen and (min-width: 770px) and (max-width: 1299px) {
  .hero {
    background-image: url(../images/tablet/hero__bg-tablet.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 100% 0px;
  }
}
@media screen and (min-width: 770px) {
  .main-article {
    font-size: 75px;
    width: 442px;
    height: 265px;
    margin-top: 51px;
  }
  .hero__text {
    font-size: 20px;
    width: 467px;
  }
  .hero__btn {
    width: 193px;
    height: 55px;
    padding-left: 25px;
    margin-top: 50px;
  }
  .hero__btn-svg {
    margin-left: 16px;
  }
}
@media screen and (min-width: 1300px) {
  .main-article {
    margin-top: 80px;
  }
  .hero__img-desktop {
    position: absolute;
    top: 86px;
    right: 0;
    width: 775px;
  }
}
@media screen and (max-width: 1299px) {
  .hero__img-desktop {
    display: none;
  }
}
.selection {
  padding-bottom: 100px;
}

.selection__sub-article {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  /* identical to box height, or 117% */
  display: flex;
  align-items: center;
  color: #EEAC1F;
  display: flex;
  justify-content: center;
  margin-bottom: 9px;
}

.selection__article {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 54px;
  /* or 108% */
  letter-spacing: -1px;
  color: #DFDFDF;
  padding-bottom: 27px;
  border-bottom: 1.5px solid #FD346E;
  width: 327px;
}

.selection__list {
  margin-top: 103px;
}

.little-grp {
  width: 100%;
  border: 1px solid #19191B;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 19px;
}

.little-grp__img {
  width: 85px;
  height: 81px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

.little-grp__article {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  /* or 150% */
  color: #262729;
}

.little-grp__sub-article {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 28px;
  /* or 215% */
  display: flex;
  align-items: center;
  color: #262729;
  opacity: 0.7;
}

.little-grp__btn {
  background-color: transparent;
  border: none;
  color: #E97D24;
  margin-top: 15px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.little-grp__btn:hover, .little-grp__btn:focus {
  color: #5454D4;
}

.selection__btn-svg {
  fill: #E97D24;
  width: 12px;
  height: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.little-grp__btn:hover .selection__btn-svg, .little-grp__btn:focus .selection__btn-svg {
  fill: #5454D4;
}

.middle-grp {
  width: 100%;
  border: 1px solid #19191B;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #19191B;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 19px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.middle-grp__article {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  /* or 150% */
  color: #DFDFDF;
}

.middle-grp__sub-article {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 28px;
  /* or 215% */
  display: flex;
  align-items: center;
  color: #DFDFDF;
  opacity: 0.7;
}

.selection-list-last__text {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  /* or 140% */
  display: flex;
  align-items: center;
  /* Set 01 - color 59 */
  color: #FFFFFF;
  width: 203px;
  height: 112px;
  margin-top: 77px;
  margin-left: auto;
  margin-right: auto;
}

.selection-list-last__btn {
  width: 203px;
  height: 46px;
  background: #FDFCFF;
  border-radius: 50px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 26px;
  /* or 200% */
  display: flex;
  align-items: center;
  text-align: center;
  color: #154679;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 27px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.selection-list-last__btn:hover, .selection-list-last__btn:focus {
  background-color: #154679;
  color: #FFFFFF;
}

.selection-list-last__btn-svg {
  width: 15px;
  height: 15px;
  fill: #5134FC;
  margin-left: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.selection-list-last__btn:hover .selection-list-last__btn-svg, .selection-list-last__btn:focus .selection-list-last__btn-svg {
  fill: #FFFFFF;
}

@media screen and (min-width: 770px) {
  .selection {
    padding-top: 100px;
  }
  .selection__article {
    width: 600px;
    height: 54px;
    margin-left: 50px;
  }
  .tablet-edt {
    width: 50%;
    justify-content: center;
  }
  .selection__list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
  }
}
@media screen and (min-width: 770px) {
  .little-grp-tabl-edt {
    background-color: #19191B;
  }
  .little-grp-tabl-edt-article {
    color: #FFFFFF;
  }
  .little-grp-tabl-edt-sub-article {
    color: #FFFFFF;
    opacity: 0.7;
  }
  .middle-grp-tabl-edt {
    background-color: #fff;
  }
  .middle-grp-tabl-edt-article {
    color: #262729;
  }
  .middle-grp-tabl-edt-sub-article {
    color: #262729;
    opacity: 0.7;
  }
}
@media screen and (min-width: 1300px) {
  .selection__article {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
  }
  .selection__sub-article {
    margin-bottom: 19px;
  }
  .desktop-edt {
    width: 306px;
  }
  .selection__list {
    margin-left: 50%;
  }
  .selection__desktop-img {
    width: 757px;
    top: 1000px;
    left: 0;
    position: absolute;
  }
  .selection {
    padding-bottom: 200px;
  }
}
@media screen and (max-width: 1299px) {
  .selection__desktop-img {
    display: none;
  }
}
.about-us__article {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 66px;
  /* identical to box height, or 138% */
  letter-spacing: -1px;
  color: #DFDFDF;
  padding-bottom: 17px;
  border-bottom: 1.5px solid #FD346E;
}

.about-us__list {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.about-us__text {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  /* or 117% */
  color: rgba(255, 255, 255, 0.7);
  position: relative;
  margin-left: 20px;
}
.about-us__text::before {
  content: "";
  background: #EEAC1F;
  /* Set 01 - Color 09 */
  border: 1.5px solid #FF5722;
  position: absolute;
  width: 6.2px;
  height: 48.16px;
  top: 0;
  left: -20px;
}

.advantages {
  position: relative;
  width: 100%;
  height: 120px;
  background: linear-gradient(180deg, #4F8FF1 0%, #2B59FF 84.9%);
  box-shadow: 0px 24px 50px rgba(43, 89, 255, 0.2);
  backdrop-filter: blur(17px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 15px;
  display: flex;
  justify-content: center;
}

.advantages__mobile-img {
  width: 90%;
}

.advantages__list {
  display: flex;
  flex-direction: row;
}

.advantages-list__article {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 58px;
  /* or 242% */
  /* Set 01 - color 59 */
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.advantages-list__sub-article {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 13px;
  /* or 130% */
  text-align: center;
  /* Set 01 - color 59 */
  color: #FFFFFF;
  opacity: 0.7;
  width: 80%;
}

.advantages-img {
  width: 95%;
  position: absolute;
  top: 32px;
}

@media screen and (max-width: 767px) {
  .mobile-edt {
    width: 163px;
  }
  .advantages-tablet {
    display: none;
  }
}
@media screen and (min-width: 770px) {
  .advantages-img {
    display: none;
  }
}
@media screen and (min-width: 770px) {
  .about-us__article {
    font-size: 60px;
  }
  .about-us__text::before {
    width: 10px;
    height: 18px;
    border: 1.5px solid #FF5722;
    left: -40px;
  }
  .about-us__text {
    margin-left: 40px;
  }
  .advantages-tablet {
    width: 90%;
    top: 15px;
    position: absolute;
  }
  .roket-img {
    width: 382px;
    height: 382px;
    position: absolute;
    top: -400px;
    right: -120px;
  }
  .advantages {
    margin-top: 88px;
  }
  .about-us {
    padding-bottom: 85px;
    padding-top: 100px;
  }
}
@media screen and (min-width: 1300px) {
  .advantages-tablet {
    display: none;
  }
}
@media screen and (max-width: 1299px) {
  .advantages-desktop {
    display: none;
  }
  .roket-img {
    display: none;
  }
  .about-us__img {
    display: none;
  }
}
@media screen and (min-width: 1300px) {
  .roket-img {
    top: -630px;
    right: -70px;
  }
  .about-us__article {
    width: 450px;
  }
  .about-us__list {
    margin-left: 55%;
    margin-top: 200px;
  }
  .advantages {
    width: 1000px;
    height: 198px;
    margin-left: 20%;
  }
  .about-us__img {
    position: absolute;
    width: 650px;
    height: 420px;
    top: 2099px;
    left: 60px;
    border-radius: 5%;
  }
  .advantages-desktop {
    position: absolute;
    top: 28px;
    left: 50px;
    width: 900px;
  }
}
.road-map {
  padding-top: 100px;
}

.road-map__article {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 54px;
  line-height: 62px;
  /* or 115% */
  text-align: center;
  letter-spacing: -1px;
  color: #DFDFDF;
  padding-bottom: 10px;
  border-bottom: 1.5px solid #FD346E;
}

.road-map__mobile-img {
  padding-top: 30px;
  width: 100%;
  height: 297px;
}

@media screen and (min-width: 770px) {
  .road-map__article {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
  .road-map__mobile-img {
    height: auto;
    padding-top: 0;
  }
}
@media screen and (min-width: 1300px) {
  .road-map__desktop {
    width: 100%;
    position: absolute;
    left: 0px;
  }
  .road-map__roket-desktop {
    width: 382px;
    height: 382px;
    position: absolute;
    top: 100px;
    left: 0;
  }
  .road-map {
    position: relative;
    padding-bottom: 750px;
  }
}
@media screen and (max-width: 1299px) {
  .road-map__desktop {
    display: none;
  }
  .road-map__roket-desktop {
    display: none;
  }
}
@media screen and (min-width: 1300px) {
  .road-map__mobile-img {
    display: none;
  }
}
.price {
  padding-top: 50px;
  padding-bottom: 100px;
}

.price__sub-article {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  /* identical to box height, or 125% */
  text-align: center;
  /* color 6 */
  color: #0d59ef;
}

.price__article {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 54px;
  line-height: 62px;
  /* or 115% */
  text-align: center;
  letter-spacing: -1px;
  color: #dfdfdf;
  padding-bottom: 8px;
  border-bottom: 1.5px solid #fd346e;
  margin-bottom: 46px;
}

.top-part {
  padding-bottom: 26px;
  /* color 6 */
  border-bottom: 1px solid #19191b;
  width: 90%;
}

.price__list-individual {
  padding-top: 50px;
  padding-bottom: 28px;
  padding-left: 50px;
  background: #ffffff;
  border: 1px solid #ebeff6;
  border-radius: 10px;
}

.top-part__sub-article {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  /* identical to box height, or 140% */
  /* color 3 */
  color: #01d2a1;
  opacity: 0.8;
  margin-bottom: 15px;
}

.top-part__article {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 42px;
  /* or 140% */
  letter-spacing: -1px;
  color: #25373f;
}

.top-part__under-article {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  /* identical to box height, or 175% */
  /* Color 2 Text */
  color: #042552;
  opacity: 0.7;
}

.bottom-part {
  padding-top: 12px;
}

.bottom-part__article {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  /* identical to box height, or 175% */
  /* Color 2 Text */
  color: #042552;
  margin-bottom: 29px;
}

.bottom-part__list {
  display: flex;
  flex-direction: column;
  gap: 11px;
  margin-bottom: 26px;
  position: relative;
}

.bottom-part__list-text {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  /* identical to box height, or 175% */
  /* Color 2 Text */
  color: #042552;
  margin-left: 20px;
}
.bottom-part__list-text::before {
  content: "";
  background-image: url(../images/main/price-list__icon.png);
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: -7px;
  left: -20px;
}

.list-text-second::before {
  content: "";
  background-image: url(../images/main/price-list__icon.png);
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 30px;
}

.list-text-third::before {
  background-image: url(../images/main/price-list__icon.png);
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 71px;
}

.list-text-fourth::before {
  background-image: url(../images/main/price-list__icon.png);
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 110px;
}

.bottom-part__btn {
  width: 185px;
  height: 60px;
  /* color 6 */
  border: 2px solid #0d59ef;
  border-radius: 50px;
  background-color: transparent;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* identical to box height, or 144% */
  text-align: center;
  /* color 6 */
  color: #0d59ef;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.bottom-part__btn:hover, .bottom-part__btn:focus {
  color: #ffffff;
  background-color: #0d59ef;
}

.price-list__icons {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.price-list__icon {
  width: 20px;
  height: 20px;
  position: absolute;
  top: -250px;
  z-index: 1000;
}

.price__lists {
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.big-grp {
  background: #303030;
  border-color: #303030;
}

.sub-article__big {
  color: #ffb619;
  opacity: 0.8;
}

.article__big {
  color: #dfdfdf;
}

.under-article__big {
  color: #dfdfdf;
  opacity: 0.7;
}

.top-part__big {
  border-bottom: 1px solid #dfdfdf;
}

.text__big {
  color: #dfdfdf;
}
.text__big::before {
  background-image: url(../images/main/price-list__icon.png);
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
}

.text-big-second::before {
  background-image: url(../images/main/price-list__icon.png);
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 32px;
}

.text-big-third::before {
  background-image: url(../images/main/price-list__icon.png);
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 72px;
}

.text-big-fourth::before {
  background-image: url(../images/main/price-list__icon.png);
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 110px;
}

.btm-art-big {
  color: #dfdfdf;
}

@media screen and (min-width: 770px) {
  .price__list-individual {
    width: 416px;
  }
  .price__lists {
    align-items: center;
  }
}
@media screen and (min-width: 1300px) {
  .price__lists {
    flex-direction: row;
    gap: 24px;
    margin-top: 100px;
  }
}
.reviewes {
  padding-bottom: 100px;
  padding-top: 50px;
}

.reviewes__sub-article {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  /* identical to box height, or 127% */
  display: flex;
  align-items: center;
  text-align: center;
  color: #EEAC1F;
  display: flex;
  justify-content: center;
}

.reviewes__article {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 62px;
  /* identical to box height, or 194% */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -1px;
  color: #DFDFDF;
  width: 327px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 8px;
  border-bottom: 1.5px solid #FD346E;
}

.reviewes-content__list {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.reviewes__mobile-photo-first {
  width: 70.02px;
  border: 1px solid #FFFFFF;
  border-radius: 100%;
  position: absolute;
  top: -50px;
  left: 30px;
}

.reviewes__list {
  position: relative;
}

.reviewes__dark {
  background: #135558;
  border: 1px solid #000000;
  box-shadow: 0px 23px 45px rgba(80, 52, 252, 0.25);
  border-radius: 15px;
  padding-top: 45px;
  padding-bottom: 11px;
  padding-left: 31px;
  padding-right: 30px;
  position: relative;
  width: 331px;
  margin-left: auto;
  margin-right: auto;
}

.reviewes-content__main-text-dark {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  /* or 188% */
  /* Set 01 - color 59 */
  color: #FFFFFF;
}

.reviewes-content__article {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  font-size: 15px;
  line-height: 26px;
  /* identical to box height, or 173% */
  display: flex;
  align-items: center;
  /* Set 01 - color 59 */
  color: #FFFFFF;
}

.reviewes-content__sub-article {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  font-size: 13px;
  line-height: 22px;
  /* identical to box height, or 169% */
  display: flex;
  align-items: center;
  /* Set 01 - color 59 */
  color: #FFFFFF;
  opacity: 0.7;
}

.reviewes__light {
  background: #FFFFFF;
  border-radius: 15px;
  padding-top: 45px;
  padding-bottom: 10px;
  padding-left: 31px;
  padding-right: 36px;
  box-shadow: 0px 23px 45px rgba(80, 52, 252, 0.25);
  position: relative;
  width: 331px;
  margin-left: auto;
  margin-right: auto;
}

.reviewes-content__main-text-light {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  /* or 188% */
  /* Set 01 - Color 03 */
  color: #262729;
}

.reviewes-content__article-light {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  font-size: 15px;
  line-height: 26px;
  /* identical to box height, or 173% */
  display: flex;
  align-items: center;
  /* Set 01 - Color 03 */
  color: #262729;
}

.reviewes-content__sub-article-light {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  font-size: 13px;
  line-height: 22px;
  /* identical to box height, or 169% */
  display: flex;
  align-items: center;
  /* Set 01 - Color 03 */
  color: #262729;
  opacity: 0.7;
}

.reviewes__mobile-photo-second {
  border-radius: 100%;
  width: 70.02px;
  position: absolute;
  top: -40px;
  left: 30px;
}

.reviewes__mobile-photo-third {
  border-radius: 100%;
  width: 70.02px;
  position: absolute;
  top: -40px;
  left: 30px;
}

.reviewes__stars-img {
  position: absolute;
  top: 290px;
  left: 69%;
  width: 75.59px;
  height: 13.87px;
}

.reviewes__stars-img-second {
  position: absolute;
  top: 290px;
  left: 220px;
  width: 75.59px;
  height: 13.87px;
}

.reviewes__stars-img-third {
  position: absolute;
  top: 260px;
  left: 220px;
  width: 75.59px;
  height: 13.87px;
}

@media screen and (min-width: 770px) {
  .reviewes__container {
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
  }
  .reviewes__article {
    font-size: 54px;
    width: 710px;
    padding-bottom: 20px;
    display: block;
    margin-top: 15px;
  }
  .reviewes__dark {
    width: 359px;
    height: 350px;
    margin-left: 0;
    position: relative;
    margin-right: auto;
  }
  .reviewes-content__main-text-dark {
    width: 287px;
    height: 215px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2470588235);
    margin-bottom: 26px;
  }
  .reviewes__stars-img {
    left: 250px;
    top: 230px;
  }
  .reviewes__light {
    width: 359px;
    height: 350px;
    margin-right: 0;
    position: relative;
    margin-left: auto;
  }
  .reviewes-content__main-text-light {
    width: 287px;
    height: 218px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.0862745098);
    margin-bottom: 26px;
  }
  .reviewes-content__list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
  }
  .reviewes__tablet-edt {
    margin-top: 43px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
  .reviewes__stars-img-second {
    top: 230px;
    left: 250px;
  }
  .reviewes__stars-img-third {
    top: 236px;
    left: 250px;
  }
  .reviewes__mobile-photo-second {
    top: -40px;
    left: 30px px;
  }
  .reviewes__mobile-photo-third {
    top: -40px;
    left: 30px;
  }
}
@media screen and (min-width: 1300px) {
  .reviewes__tablet-edt {
    margin-left: 0;
    margin-top: 0;
    margin-right: auto;
  }
  .reviewes__light-desktop {
    margin-right: 0;
  }
  .reviewes-content__list {
    gap: 30px;
  }
  .reviewes__dark {
    margin-right: 0;
  }
}
/* Text before form */
.contact-form {
  padding-top: 100px;
}

.contact-form__link {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  font-style: normal;
  color: #ebeff6;
  opacity: 60%;
}

.text-content_main-text {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 54px;
  line-height: 59px;
  color: #ebeff6;
}

.text-content_secondary-text {
  margin-top: 30px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ebeff6;
  opacity: 60%;
}

.text-content_adress-text {
  margin-top: 30px;
}

.text-content_adress-text_info {
  margin-bottom: 30px;
  display: flex;
  gap: 20px;
}

.text-content_adress-text_info p {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  font-style: normal;
  color: #ebeff6;
  opacity: 60%;
}

/* Form */
.form-content_block {
  box-sizing: border-box;
  width: 353px;
  height: 494px;
  left: -29px;
  top: -27px;
  background: #4d4d4d;
  box-shadow: 0px 4px 4px rgba(218, 218, 252, 0.25);
  border-radius: 10px;
  padding-top: 5px;
}

.form-content_text-block {
  padding-left: 10%;
}

.form-content_text-block_inputs {
  margin-top: 24px;
}

.form-content_text-block_inputs p {
  height: 24px;
  left: 0px;
  top: 0px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #d3d3d3;
}

.form-content_text-block_inputs input {
  margin-top: 5px;
  background: transparent;
  border: none;
  color: white;
}

.line {
  margin-top: 12px;
  width: 300px;
  height: 0px;
  left: 0px;
  top: 68px;
  border: 1px solid #ffffff;
}

.form-button {
  margin-top: 15%;
  margin-left: 10%;
  width: 180px;
  height: 50px;
  background-color: #eeac1f;
  border-radius: 100px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  border: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* identical to box height, or 133% */
  color: #101C26;
}
.form-button:hover, .form-button:focus {
  color: #eeac1f;
  background-color: #101C26;
}

@media screen and (min-width: 770px) {
  .form-content_block {
    width: 655px;
    height: 552px;
  }
  .line {
    width: 400px;
  }
  .footer-container {
    position: relative;
  }
  .tech-link-first {
    font-size: 14px;
    margin-top: 30px;
    position: absolute;
    bottom: -150px;
    left: 30px;
  }
  .aspy__span {
    font-size: 12px;
  }
  .tech-link-second {
    font-size: 24px;
    position: absolute;
    right: 30px;
    bottom: -165px;
  }
  .coders__span {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 78px;
    /* identical to box height, or 325% */
    letter-spacing: 1px;
  }
}
@media screen and (min-width: 1300px) {
  .desktop-form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .form-content_block {
    width: 655px;
    height: 552px;
  }
  .line {
    width: 400px;
  }
}
/* Footer logo */
.footer {
  margin-top: 110px;
}

.footer__link {
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__link:hover, .footer__link:focus {
  color: #5454D4;
}

.footer-company {
  border-top: 1.5px solid #ffffff;
  margin-bottom: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-company p {
  padding-left: 15px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 33px;
  line-height: 39px;
  color: rgba(255, 255, 255, 0.7);
}

.tech-link-first {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  width: 427px;
  height: 40px;
  margin-left: 10px;
  /* or 200% */
  color: rgba(255, 255, 255, 0.502972);
}

.tech-links__list {
  margin-top: 46px;
}

.tech-link-second {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 78px;
  /* identical to box height, or 244% */
  letter-spacing: 1px;
  color: #939494;
}

.footer-company_logo {
  margin-top: 16px;
  display: flex;
  align-items: center;
}

.footer-line {
  margin-top: 12px;
  width: 90%;
  height: 0px;
  left: 0px;
  top: 68px;
  border: 1px solid #ffffff;
}

/* Footer discription */
.footer-nav {
  display: flex;
  justify-content: space-around;
  margin-bottom: 15%;
}

.footer-nav_first-discription-list-main {
  padding-bottom: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  /* identical to box height, or 200% */
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-nav_first-discription-list {
  cursor: pointer;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  /* or 200% */
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-nav_first-discription-list:hover, .footer-nav_first-discription-list:focus {
  color: #5454D4;
}

/* Footer social */
.footer-social {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-social p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  /* or 200% */
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-social_icons {
  margin-top: 8%;
  display: flex;
  gap: 10px;
}

.footer-rights {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.footer-rights p {
  letter-spacing: normal;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 32px;
  /* or 200% */
  color: rgba(255, 255, 255, 0.502972);
}

.footer-aspy p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 78px;
  /* identical to box height, or 488% */
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.53);
}

.aspy__span {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 78px;
  /* identical to box height, or 488% */
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.53);
  width: 82px;
  height: 78px;
  margin-right: 23px;
  margin-left: 32px;
}

@media screen and (min-width: 770px) {
  .footer-company_logo {
    margin-top: 0;
  }
  .footer {
    border-top: 1.5px solid #ffffff;
    border-top-width: 80%;
    padding-top: 5%;
  }
  .footer-company {
    border-top: none;
  }
  .footer-nav {
    margin-left: 18%;
    margin-right: 20%;
    float: left;
  }
  .footer-social {
    margin-right: 5%;
  }
  .footer-nav_first {
    margin-right: 70%;
  }
  .footer-social_icons {
    margin-bottom: 20%;
  }
}
@media screen and (min-width: 1300px) {
  .footer {
    border-top: 1.5px solid #ffffff;
    border-top-width: 80%;
    padding-top: 5%;
  }
  .footer-company {
    border-top: none;
    float: left;
    margin-left: 5%;
  }
  .footer-nav {
    margin-left: 23%;
    margin-right: 20%;
    float: left;
  }
  .footer-social {
    margin-right: 5%;
  }
  .footer-nav_first {
    margin-right: 90%;
  }
  .footer-social_icons {
    margin-bottom: 20%;
  }
}
html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}/*# sourceMappingURL=index.css.map */