/* Footer logo */

.footer {
    margin-top: 110px;
}
.footer__link {
    color: #ffffff;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        color: #5454D4;
    }
}

.footer-company {
    border-top: 1.5px solid #ffffff;
    margin-bottom: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
        padding-left: 15px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 33px;
        line-height: 39px;

        color: rgba(255, 255, 255, 0.7);
    }
}

.tech-link-first {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    width: 427px;
    height: 40px;
    margin-left: 10px;
    /* or 200% */


    color: rgba(255, 255, 255, 0.502972);
}

.tech-links__list {
    margin-top: 46px;
}

.tech-link-second {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 78px;
    /* identical to box height, or 244% */

    letter-spacing: 1px;

    color: #939494;
}

.footer-company_logo {
    margin-top: 16px;
    display: flex;
    align-items: center;
}

.footer-line {
    margin-top: 12px;
    width: 90%;
    height: 0px;
    left: 0px;
    top: 68px;

    border: 1px solid #ffffff;
}

/* Footer discription */
.footer-nav {
    display: flex;
    justify-content: space-around;
    margin-bottom: 15%;
}

.footer-nav_first-discription-list-main {
    padding-bottom: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    /* identical to box height, or 200% */
    letter-spacing: 3px;
    text-transform: uppercase;

    color: #ffffff;
}

.footer-nav_first-discription-list {
    cursor: pointer;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    /* or 200% */
    color: #ffffff;

    &:hover,
    &:focus {
        color: #5454D4;
    }

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Footer social */

.footer-social {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
        /* or 200% */
        letter-spacing: 3px;
        text-transform: uppercase;

        color: #ffffff;
    }
}

.footer-social_icons {
    margin-top: 8%;
    display: flex;
    gap: 10px;
}

.footer-rights {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    p {
        letter-spacing: normal;
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 32px;
        /* or 200% */

        color: rgba(255, 255, 255, 0.502972);
    }
}

.footer-aspy {
    p {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 800;
        font-size: 16px;
        line-height: 78px;
        /* identical to box height, or 488% */
        letter-spacing: 1px;

        color: rgba(255, 255, 255, 0.53);
    }
}

.aspy__span {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 78px;
    /* identical to box height, or 488% */

    letter-spacing: 1px;

    color: rgba(255, 255, 255, 0.53);
    width: 82px;
    height: 78px;
    margin-right: 23px;
    margin-left: 32px;
}

//Tablet

@media screen and(min-width:770px) {
    .footer-company_logo {
        margin-top: 0;
    }

    .footer {
        border-top: 1.5px solid #ffffff;
        border-top-width: 80%;
        padding-top: 5%;
    }

    .footer-company {
        border-top: none;
    }

    .footer-nav {
        margin-left: 18%;
        margin-right: 20%;
        float: left;
    }

    .footer-social {
        margin-right: 5%;
    }

    .footer-nav_first {
        margin-right: 70%;
    }

    .footer-social_icons {
        margin-bottom: 20%;
    }
}

//Desktop

@media screen and(min-width:1300px) {
    .footer {
        border-top: 1.5px solid #ffffff;
        border-top-width: 80%;
        padding-top: 5%;
    }

    .footer-company {
        border-top: none;
        float: left;
        margin-left: 5%;
    }

    .footer-nav {
        margin-left: 23%;
        margin-right: 20%;
        float: left;
    }

    .footer-social {
        margin-right: 5%;
    }

    .footer-nav_first {
        margin-right: 90%;
    }

    .footer-social_icons {
        margin-bottom: 20%;
    }
}