//mobile version

.main-article {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 78px;
  /* or 156% */

  letter-spacing: 1px;

  color: #dfdfdf;
  width: 327px;
  height: 234px;
  margin-top: 41px;
}

.hero__text {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 31px;
  /* or 206% */

  letter-spacing: -0.43573px;

  color: rgba(255, 255, 255, 0.7);
  margin-top: 12px;
}

.hero__btn {
  background-color: #5454d4;
  border: none;
  width: 166px;
  height: 44px;
  margin-top: 30px;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;

  color: #ffffff;
  padding-left: 10px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: #5454d4;
    background-color: #fff;
  }
}

.hero__btn:hover .hero__btn-svg,
.hero__btn:focus .hero__btn-svg {
  fill: #5454d4;
}

.hero__btn-svg {
  width: 15px;
  height: 16px;
  fill: #ffffff;
  margin-left: 8px;
}
.hero__img-phone {
  position: absolute;
  width: 381px;
  right: 0px;
}

//mobile-tablet versions settings

@media screen and (min-width: 768px) {
  .hero__img-phone {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .hero {
    padding-bottom: 515px;
  }
}

//Tablet version

@media screen and (min-width: 770px) and (max-width: 1299px) {
  .hero {
    background-image: url(../images/tablet/hero__bg-tablet.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 100% 0px;
  }
}

@media screen and (min-width: 770px) {
  .main-article {
    font-size: 75px;
    width: 442px;
    height: 265px;
    margin-top: 51px;
  }
  .hero__text {
    font-size: 20px;
    width: 467px;
  }
  .hero__btn {
    width: 193px;
    height: 55px;
    padding-left: 25px;
    margin-top: 50px;
  }
  .hero__btn-svg {
    margin-left: 16px;
  }
}

//Desktop version

@media screen and (min-width: 1300px) {
  .main-article {
    margin-top: 80px;
  }
  .hero__img-desktop {
    position: absolute;
    top: 86px;
    right: 0;
    width: 775px;
  }
}

//Desktop-version settings

@media screen and (max-width: 1299px) {
  .hero__img-desktop {
    display: none;
  }
}
