//mobile version

.selection {
    padding-bottom: 100px;
}

.selection__sub-article {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        /* identical to box height, or 117% */
    
        display: flex;
        align-items: center;
    
        color: #EEAC1F;
        display: flex;
        justify-content: center;
        margin-bottom: 9px;
}

.selection__article {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        line-height: 54px;
        /* or 108% */
    
        letter-spacing: -1px;
    
        color: #DFDFDF;
        
        padding-bottom: 27px;
        border-bottom: 1.5px solid #FD346E;
        width: 327px;
}

.selection__list {
    margin-top: 103px;
}

.little-grp {
    width: 100%;
    border: 1px solid #19191B;
        box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 19px;
}

.little-grp__img {
    width: 85px;
    height: 81px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.little-grp__article {
    font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        /* or 150% */
    
    
        color: #262729;
}

.little-grp__sub-article {
    font-family: 'Rubik';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 28px;
        /* or 215% */
    
        display: flex;
        align-items: center;
    
        color: #262729;
    
        opacity: 0.7;
}

.little-grp__btn {
    background-color: transparent;
    border: none;
    color: #E97D24;
    margin-top: 15px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        color: #5454D4;
    }
}

.selection__btn-svg {
    fill: #E97D24;
    width: 12px;
    height: 10px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .little-grp__btn:hover &,
    .little-grp__btn:focus & {
        fill: #5454D4;
    }
}

.middle-grp {
    width: 100%;
        border: 1px solid #19191B;
        box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        background-color: #19191B;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 24px;
        padding-bottom: 19px;
        margin-top: 30px;
        margin-bottom: 30px;
}

.middle-grp__article {
    font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        /* or 150% */
    
    
        color: #DFDFDF;
}

.middle-grp__sub-article {
    font-family: 'Rubik';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 28px;
        /* or 215% */
    
        display: flex;
        align-items: center;
    
        color: #DFDFDF;
    
        opacity: 0.7;
}

.selection-list-last__text {
    font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;
        /* or 140% */
    
        display: flex;
        align-items: center;
    
        /* Set 01 - color 59 */
    
        color: #FFFFFF;
        width: 203px;
        height: 112px;
        margin-top: 77px;
        margin-left: auto;
        margin-right: auto;
}

.selection-list-last__btn {
    width: 203px;
    height: 46px;
    background: #FDFCFF;
    border-radius: 50px;

    font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 13px;
        line-height: 26px;
        /* or 200% */
    
        display: flex;
        align-items: center;
        text-align: center;
    
        color: #154679;
        display: flex;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 27px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
        &:hover,
        &:focus {
            background-color: #154679;
            color:#FFFFFF;
        }
}

.selection-list-last__btn-svg {
    width: 15px;
    height: 15px;
    fill: #5134FC;
    margin-left: 10px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .selection-list-last__btn:hover &,
    .selection-list-last__btn:focus & {
        fill: #FFFFFF;
    }
}

//tablet version

@media screen and (min-width:770px) {
    
    .selection {
        padding-top: 100px;
    }
    
    .selection__article {
        width: 600px;
        height: 54px;
        margin-left: 50px;
    }
    .tablet-edt {
        width: 50%;
        justify-content: center;
    }
    .selection__list {
        display: flex;
        flex-wrap: wrap;
        row-gap: 30px;
    }
}

//tablet version settings 


@media screen and (min-width:770px) {
    .little-grp-tabl-edt {
            background-color: #19191B;
        }
    
        .little-grp-tabl-edt-article {
            color: #FFFFFF;
        }
    
        .little-grp-tabl-edt-sub-article {
            color: #FFFFFF;
            opacity: 0.7;
        }
    
        .middle-grp-tabl-edt {
            background-color: #fff;
        }
    
        .middle-grp-tabl-edt-article {
            color: #262729;
        }
    
        .middle-grp-tabl-edt-sub-article {
            color: #262729;
    
            opacity: 0.7;
        }
}

//Desktop version

@media screen and (min-width:1300px) {
    .selection__article {
            display: flex;
                justify-content: center;
                margin-left: auto;
                margin-right: auto;
                align-items: center;
    }
    .selection__sub-article {
         margin-bottom: 19px;
    }
    .desktop-edt {
        width: 306px;
    }
    .selection__list {
        margin-left: 50%;
    }
    .selection__desktop-img {
        width: 757px;
        top: 1000px;
        left: 0;
        position: absolute;
    }
    .selection {
        padding-bottom: 200px;
    }
}

//desktop version settings

@media screen and (max-width:1299px) {
    .selection__desktop-img {
        display: none;
    }
}