h3 {
    margin-top: 2rem
}

#topic-bg {
    height: clamp(300px, 50vh, 500px)
}

#ts-footer .ts-box {
    margin-top: 100px
}

.container {
    max-width: 1510px
}

thead th:first-child {
    background-color: #28a745
}

thead th:last-child {
    background-color: #dc3545
}

th, td {
    padding: 10px
}

td {
    border: 1px solid #453F8B
}

.fixed-white-bg {
    display: none
}

.fixed-white-bg.active {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #fff;
    opacity: .5;
    width: 100%;
    height: 100%;
    z-index: 9999
}

form.subscribe-form {
    display: none
}

form.subscribe-form.active {
    display: block;
    position: fixed;
    top: 50%;
    right: 50%;
    -ms-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
    background: #1D1617;
    border-radius: .25rem;
    padding: 1.3rem;
    width: 350px;
    z-index: 99999
}

@media screen and (max-width:390px) {
    form.subscribe-form.active {
        width: 100%
    }
}

input {
    width: 100%;
    background: #fff;
    border: 0;
    padding: 20px;
    border-radius: .25rem;
    margin-bottom: 10px
}

.btn {
    width: 100%;
    padding: 12px
}

.form-control {
    display: block;
    width: 100%;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #55595c;
    background-color: #fff;
    border-radius: .25rem
}

form h3 {
    margin-top: 0
}

.close-form {
    text-align: right
}

.close-btn {
    background: none;
    border: 0;
    color: #fff;
    cursor: pointer
}

.close-btn:active, .close-btn:focus {
    outline: none
}