.animate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 11px;
    animation-duration: .5s;
    animation-name: animate-fade;
    animation-delay: 1.6s;
    animation-fill-mode: backwards;
    transition: opacity .3s ease;
}

.telegram-modal {
    display: none;
    position: fixed;
    top: 50%;
    right: 50%;
    -ms-transform: translate(50%,-50%);
    transform: translate(50%,-50%);
    background: #1D1617;
    border-radius: 0.25rem;
    padding: 1.3rem;
    width: 350px;
    z-index: 99999;
}

.scroll-hide {
    opacity: 1;
}

.scroll-hidden {
    opacity: 0;
}

@keyframes animate-fade {
    0% { opacity: 0; }
    100% { opacity: 1; }
}